dl{
    width: 350px;
}

dd{
   margin: 0;
   padding: 15px; 
}

dt{
    cursor: pointer;
    font-size: 18 px;
    background-color: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
}